node_modules/
**/node_modules/
.env
.env.*
server/.env
server/.env.example
client/.env
client/.env.example
**/.env
dist/
build/
.next/
out/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
server/package-lock.json
client/package-lock.json
