PORT=5000
MONGODB_URI=mongodb://localhost:27017/job-importer
REDIS_URL="rediss://default:gQAAAAAAASVsAAIncDEwM2RiYjA0ZjUxYTk0MDVjYjQ5YTI3OTNjMTY5ODEyYnAxNzUxMTY@clever-terrier-75116.upstash.io:6379"
CONCURRENCY_IMPORT=2
CONCURRENCY_UPSERT=20
BATCH_SIZE=100
